body{
  background-color: #f5f5ea;
  color: rgb(14, 7, 44);
}
.header {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.my_foto {
  height: 200px;
  width: 200px;
  border-radius: 25% 10%;
}
h1 {
  margin-top: 50px;
}
section {
  min-height: 5em;
  text-align: center; 
  margin: 0 auto;
}
ul {
  display: inline-block;
}
li {
  list-style: square;
  text-align: center;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  padding-top: 10px;
  align-self: center;
  background-color: #c5c467;
}
.year{
  font-size: 2em;
}